
<!--<div class="row">-->
  <div class="col s2 ">
    <div class="card" [ngClass]="{'marked':isMarked}" appHover>
      <div class="card-image">
        <!--<img src="http://materializecss.com/images/sample-1.jpg">-->
        <img src="{{user.image}}">
        <span class="card-title">{{user.name |uppercase}}</span>
      </div>
      <div class="card-content">
        <!--<p>I am a very simple card. I am good at containing small bits of information.-->
          <!--I am convenient because I require little markup to use effectively.</p>-->
        <p>{{user.geo}}</p>
      </div>
      <div class="card-action">
        <a (click)="onClick()" class="waves-effect waves-light btn">
          <i class="material-icons left">cloud</i>mark</a>
      </div>
    </div>
  </div>
<!--</div>-->
