<div class="container">
  <div class="row">
    <div class="input-field col s6">
      <input id="first_name" type="text" class="validate" [(ngModel)]="searchStr">
      <label class="active" for="first_name">input name</label>
    </div>
  </div>
  <div class="row">

    <app-card *ngFor="let item of users | search:searchStr" [user]='item'></app-card>

  </div>
  <div>
    <a class="waves-effect waves-light btn" (click)="onChange2()">get users 2</a>
    <app-copyCards *ngFor="let item2 of users2" [user]="item2"></app-copyCards>
  </div>

</div>
